# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
.env
.env.local

# SQLite Datenbank und Session-Store
*.sqlite
*.db
*.db-wal
*.db-shm

# Uploads
public/uploads/
public/tmp_*.jpg

# Systemdateien
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.swp

# Logs
logs/
*.log